<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="/css/tailwind-output.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Recipe Sharing Website</h1>
  </header>

  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-lg font-semibold">
        <a href="/">Recipe Sharing Website</a>
      </div>
      <div>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-gray-300 hover:text-white">Home</a></li>
          <li><a href="/add-recipe" class="text-gray-300 hover:text-white">Add Recipe</a></li>
          <li><a href="/login" class="text-gray-300 hover:text-white">Login</a></li>
          <li><a href="/register" class="text-gray-300 hover:text-white">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>  

  <main>
    <h2>Register</h2>
    <form action="/register" method="POST">
      <label>Username:</label>
      <input type="text" name="username" required />
      <label>Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Register</button>
    </form>
  </main>
</body>

</html>
