<form action="/add-recipe" method="POST">
  <label class="block mb-2">Recipe Title:</label>
  <input type="text" name="title" required/>

  <label class="block mb-2">Instructions:</label>
  <textarea name="instructions" required></textarea>

  <button type="submit">Submit Recipe</button>
</form>